$/improper:bytype1 @/improper:GAFF/X-X-c-o $/atom:solvents/atom3 $/atom:solvents/atom6 $/atom:solvents/atom7 $/atom:solvents/atom8
$/improper:bytype2 @/improper:GAFF/X-c3-n-c3 $/atom:solvents/atom2 $/atom:solvents/atom4 $/atom:solvents/atom3 $/atom:solvents/atom7
